<div>
    <div class="jumbotron" style="padding-left: 6vw;">
        <h1>GlobalHack VI</h1>
    </div>

    <div class="container-fluid">
        <div class="jumbotron smallest container col-md-6 col-md-offset-3"
             style="padding-left: 6vw; margin-top: 6vh; margin-bottom: 0px; border-bottom-left-radius : 0px; border-bottom-right-radius: 0px;">
            <h2 >Welcome {{homeController.username}}</h2>
        </div>
        <div class="jumbotron smaller container col-md-6 col-md-offset-3"
             style="background-color: #FFFFFF; margin-top: 0px;  border-top-left-radius : 0px; border-top-right-radius: 0px;">

            <div class="spacer"></div>
            <div id="anonymous">
                <div><a class="hilightgreen list-group-item col-sm-12" ng-click="homeController.goRegister()">Register</a></div>
            </div>

            <div>
                <div><a class="hilightblue list-group-item col-sm-12" href="#help/list">Help the Homeless</a></div>
            </div>

            <div id="userdiv">
                <div>
                    <div><a class="hilightblue list-group-item col-sm-12" href="#provider/list">View Provider List</a></div>
                </div>
                <div>
                    <div><a class="hilightpurple list-group-item col-sm-12" ng-click="homeController.signOut()" style="cursor: pointer;">Sign out</a></div>
                </div>
            </div>
        </div>
    </div>
</div>