<div class="container-fluid">
    <div class="page-header">
        <h1>List of those in Need</h1>
    </div>
    <div class="panel">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>First/Last Name</th>
                <th>Phone #</th>
                <th>Message</th>
                <th>Date</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="person in clientList">
                <th scope="row">{{person.num}}</th>
                <td>{{person.firstname}} {{person.lastname}}</td>
                <td>{{person.phoneNumbers[0]}}</td>
                <td>{{person.message}}</td>
                <td>{{person.dateUpdated}}</td>
                <td><button ng-click="clientListController.updateClient(person)">Edit</button></td>
                <td><button ng-click="clientListController.viewClient(person)" style="cursor: pointer;">View</button></td>
            </tr>
        </table>
    </div>
</div>