<div>
    <div class="jumbotron" style="padding-left: 4vw; padding-bottom: 20px; margin-bottom: 0px;">
        <h2>Register for Help</h2>
    </div>
    <div class="jumbotron container" style="padding-left: 4vw; padding-top: 10px; padding-bottom: 10px; width: 100%; margin-top: 0px; background-color: #FFFFFF;">
        <h3>Need help? All we need is a phone number!</h3>
    </div>

    <div>
        <form class="form-horizontal">
            <!--  CONTACT INFO -->
            <div class="form-group">
                <label for="phone" class="col-sm-3 col-sm-offset-1 control-label">Phone #</label>
                <div class="col-sm-7">
                    <input class="form-control" type="tel" id="phone" ng-model="person.phone" placeholder="Enter phone (required)">
                </div>
            </div>

            <div class="form-group">
                <label for="location" class="col-sm-3 col-sm-offset-1 control-label">Location</label>
                <div class="col-sm-7">
                    <input class="form-control" id="location" ng-model="person.location" placeholder="Enter location">
                </div>
            </div>

            <div class="form-group">
                <label for="helpneeded" class="col-sm-3 col-sm-offset-1 control-label">Help Needed:</label>
                <div id="helpneeded" class="container col-sm-7">
                    <div class="radio">
                        <label><input type="radio" ng-model="radValue" value="Housing Help" name="optradio">Housing</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" ng-model="radValue" value="Medical Help" name="optradio">Medical</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" ng-model="radValue" value="Mental Help" name="optradio">Mental</label>
                    </div>
                    <div class="radio">
                        <label><input type="radio" ng-model="radValue" value="" name="optradio">Other:</label>
                        <input class="form-control" id="other" ng-model="otherVal" placeholder="Enter help" style="margin-top: 5px;">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-sm-4">
        <button type="submit" class="btn" ng-click="initialRegistrationController.returnHome()" style="color: #FFF;">
            Home
        </button>
    </div>

    <div class="col-sm-4">
        <button  ng-click="initialRegistrationController.goToName()" type="submit" class="btn btn-primary btn-large">
            Next
        </button>
    </div>

    <div class="col-sm-4">
        <button  ng-click="initialRegistrationController.register(person)" type="submit" class="btn btn-primary btn-large">
            Register
        </button>
    </div>
</div>