<div>
    <div class="jumbotron" style="padding-left: 4vw;">
        <h2>Register for Help</h2>
    </div>

    <div>
        <form class="form-horizontal">
            <!-- PERSONAL INFO -->

            <div class="form-group">
                <label for="ethnicity" class="col-sm-3 col-sm-offset-1 control-label">Ethnicity:</label>
                <div class="col-sm-7" id="ethnicity">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button"
                                id="ethnicityMenu" data-toggle="dropdown">
                            {{currentEthnicity}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="option in possibleEthOptions"><a style="cursor: pointer;"
                                ng-click="selectEthnicityOption(option)">{{option}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="race" class="col-sm-3 col-sm-offset-1 control-label">Race:</label>
                <div class="col-sm-7" id="race">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button"
                                id="raceMenu" data-toggle="dropdown">
                            {{currentRace}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="option in possibleRaceOptions"><a style="cursor: pointer;"
                                ng-click="selectRaceOption(option)">{{option}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="gender" class="col-sm-3 col-sm-offset-1 control-label">Gender: </label>
                <div class="col-sm-7" id="gender">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button"
                                id="genderMenu" data-toggle="dropdown">
                            {{currentGender}} <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="option in possibleGenOptions"><a style="cursor: pointer;"
                                ng-click="selectGenderOption(option)">{{option}}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-sm-4">
        <button type="submit" class="btn" ng-click="initialRegistrationController.returnHome()" style="color: #FFF;">
            Home
        </button>
    </div>

    <div class="col-sm-4">
        <button  ng-click="initialRegistrationController.goPrev()" type="submit" class="btn btn-primary btn-large">
            Prev
        </button>
    </div>

    <div class="col-sm-4">
        <button  ng-click="initialRegistrationController.register(person)" type="submit" class="btn btn-primary btn-large">
            Register
        </button>
    </div>
</div>