<div class="container-fluid">
    <div class="page-header">
        <h1>CoC Service Providers
            <div class="pull-right  btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Sort By
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a ng-click="getProviderBy('Beds')">Available Beds</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a ng-click="getProviderBy('Sleeping Units')">Available Units</a></li>
                </ul>
            </div>
        </h1>
    </div>
    <div class="panel">
        <table class="table table-striped">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone #</th>
                <th>Hours</th>
                <th>Units Available</th>
                <th>Beds Available</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="provider in providerList">
                <th scope="row"></th>
                <td>{{provider.name}}</td>
                <td>{{provider.address.street}}</td>
                <td>{{provider.phone}}</td>
                <td>{{provider.hoursOfOperation}}</td>
                <td>{{provider.available[0].amount}}</td>
                <td>{{provider.available[1].amount}}</td>
            </tr>
        </table>
    </div>
</div>